span{
background-color: powderblue;
}
h1{
    font-size: 32px;
    text-align: center;
}
h3{
    font-size: 24px;
    color: dodgerblue;
    text-align: center;
}
.table{
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 600px;
    
    
}
td{
    
    border-top: 1px solid black;
    padding-right: 15px;
}
th{
    background-color:cornflowerblue ;
    text-align: center;
}
body{
    background-color: lightgray;
    
    font-family: monospace;
}